{# filepath: templates/partials/categories.twig #}
<aside class="sidebar">
    <div class="widget">
        <div class="widget-header">Categories</div>
        <div class="widget-body">
            <ul>
                {% for category in categories %}
                    <li><a href="?category={{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</aside>