{# filepath: templates/partials/header.twig #}
<header class="header">
    <div class="navbar">
        <span class="logo">Product Review Site</span>
        <div>
            <a href="/login" class="btn btn-success">Login</a>
            <a href="/signup" class="btn btn-primary">Sign Up</a>
        </div>
    </div>
</header>