{# filepath: templates/partials/search_bar.twig #}
<div class="search-container">
    <form method="GET" action="/search">
        <input type="text" name="q" placeholder="Search products..." class="form-control" />
        <button type="submit" class="btn btn-warning">Go</button>
    </form>
</div>