{# filepath: templates/home.twig #}
{% extends 'layout.twig' %}

{% block title %}Home - Product Review Site{% endblock %}

{% block content %}
    {% include 'partials/search_bar.twig' %}
    <div class="main-content">
        {% include 'partials/categories.twig' %}
        {% include 'partials/product_grid.twig' %}
    </div>
{% endblock %}